// 格子間距
$gutter: 24px;

.container {
  /*桌機*/
	/*1296px + 12px*2 (container 左右兩邊往內推 gutter的一半) =1320px*/
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 12px;/*gutter的一半= 24/2 =12px*/

	/*平板*/
	@media(max-width:768px){
		/*696+24*/
		max-width: 720px;
	}

	/*手機*/
	@media(max-width:375px){
		/*348+24*/
		max-width: 372px;
	}

}

// 設定手機版的格子寬度 總共 4 格
@for $i from 1 through 4 {
  .col-sm-#{$i} {
    width: calc((100% - ($gutter * 3)) / 4 * $i + $gutter * ($i - 1));
  }
}

// 設定桌機版的格子寬度 總共 12 格
// 寫在 media query 裡面保證它只會在某個寬度下作用
@media (min-width: 768px) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      width: calc((100% - ($gutter * 11)) / 12 * $i + $gutter * ($i - 1));
    }
  }
}
